<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   
     <!--彩色日志输出格式-->
    <property name="CONSOLE_LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss}] [%thread] [%p] [%class:%line] %green(%msg%n)"/>
    <!--非彩色日志输出格式-->
    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />
 
    <!--dev文件路径：src同级目录logs,如果上级目录不存在会自动创建-->
    <property name="DEV_FILE_PATH" value="d:/opt/DYSJ/printJava/tomcat/logs" />
    <!-- pro文件路径 -->
    <property name="PRO_FILE_PATH" value="d:/opt/DYSJ/printJava/tomcat/logs" />

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
 
    <!--控制台输出-->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
 
l
 
    <!-- 按照每天生成错误日志文件 -->
    <appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 此日志文件只记录ERROR级别的 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <!--输出日志到src同级目录logs中的error.log文件中-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--基于大小和时间的轮转策略，当日志内容超出文件大小限制后，会自动生成一个文件来继续记录和重命名-->
            <fileNamePattern>${DEV_FILE_PATH}/error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each file should be at most 80MB, keep 7 days worth of history, but at most 2GB -->
            <maxFileSize>80MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
    </appender>
 
    <!--开发环境:打印控制台
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="consoleAppender" /> 
            <appender-ref ref="fileAppender" />
            <appender-ref ref="errorAppender" />
        </root>
    </springProfile>-->
 
    <!--生产环境:输出到文件
    <springProfile name="pro">-->
        <!-- root日志以INFO级别输出，指定日志信息输出到哪个地方-->
        <root level="INFO">
            <appender-ref ref="consoleAppender" />
           <!-- <appender-ref ref="fileAppender" />
            <appender-ref ref="errorAppender" />-->
        </root>
  <!--  </springProfile>-->
</configuration>